In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
#Read csv files
tweet_input = pd.read_csv('C:/Users/saath/Documents/DAEN 690/datasets/train1.csv')
comment_input = pd.read_csv('C:/Users/saath/Documents/DAEN 690/datasets/train2.csv')

In [3]:
#Drop unnecessary columns
tweet_input_final = tweet_input.drop(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither'],axis=1)
comment_input_final = comment_input.drop(['id', 'toxic', 'severe_toxic', 'threat','insult', 'identity_hate'],axis=1)

# Reordering the columns in the tweet_input
tweet_input_final = tweet_input_final.reindex(['tweet','class'], axis=1)

#Renaming the columns into a common name
comment_input_final.rename(columns={'comment_text': 'text_data', 'obscene': 'profane_class'}, inplace=True)
tweet_input_final.rename(columns={'tweet': 'text_data', 'class': 'profane_class'}, inplace=True)

#Considering only the profane and non profane classes
tweet_input_final = tweet_input_final[tweet_input_final.profane_class != 0]
tweet_input_final['profane_class'] = tweet_input_final['profane_class'].replace([2],0)
# tweet_input_final.head(10)

In [9]:
comment_input_final_profane = comment_input_final[comment_input_final.profane_class == 1]
comment_input_final_non_profane = comment_input_final[comment_input_final.profane_class == 0].head(24000)

In [10]:
frames = [tweet_input_final, comment_input_final_profane, comment_input_final_non_profane]
final_dataset = pd.concat(frames, axis=0)

In [13]:
final_dataset

                                               text_data  profane_class
0      !!! RT @mayasolovely: As a woman you shouldn't...              0
1      !!!!! RT @mleew17: boy dats cold...tyga dwn ba...              1
2      !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...              1
3      !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...              1
4      !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...              1
...                                                  ...            ...
25333  The two pictures of the Dutch athletes are the...              0
25334  , and get used to working with people of diffe...              0
25335                     "\n\n Blocked \n\n — xplicit "              0
25336  thank you for the help, submission made, feel ...              0
25337  Small note to FutPerf and the rest of the admi...              0

[55802 rows x 2 columns]

In [14]:
final_dataset['text_data'] = final_dataset.text_data.str.replace(r'[^a-zA-Z\s]+@\w+:|@\w+|&\w+|[^a-zA-Z\s]+|RT|http.+?', '')
final_dataset['text_data'] = final_dataset.text_data.str.replace(r'\n',' ')

In [23]:
final_dataset = final_dataset.sample(frac=1).reset_index(drop=True)

In [25]:
writer = pd.ExcelWriter('C:/Users/saath/Documents/DAEN 690/datasets/combined_original_clean_data.xlsx')
# write dataframe to excel
final_dataset.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.